<div class="navbar-color">
  <div class="container">
    <div class="row">
      <div class="col-1 d-flex">
        <a class="align-items-center d-flex" routerLink="/items/search">
          <img src="././assets/image/Logo_ML.png">
        </a>
      </div>
      <div class="col-11">
        <div class="my-2 ">
          <div class="input-group">
            <input type="text" class="form-control border-none" placeholder="Nunca dejes de buscar"
                   aria-label="Nunca dejes de buscar" aria-describedby="basic-addon2"
                   [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
                   (keyup.enter)="searchForItems()">
            <div class="input-group-append">
              <button (click)="searchForItems()" class="btn gris border-none" type="button">
                <img class="size-find-button" src="././assets/image/ic_Search@2x.png.png"/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
