<div class="container-fluid d-flex justify-content-center background-color">
  <div class="col-10">
    <div class="row">
      <div class="col my-category">
        <h4 class="category font-color-gray">
          {{ searchResult?.category.path }}
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="col col-general">
          <div class="row " *ngFor="let item of searchResult?.items">
            <div class="col">
              <div class="row">
                <div class="col-2 p-0">
                  <div class="img-fluid m-16">
                    <img routerLink="/items/{{item?.id}}" class="cursor-pointer imagenes"
                         src="{{ item?.picture }} "/>
                  </div>
                </div>
                <div class="col-8 p-0 d-flex flex-column justify-content-center">
                    <div class="col d-flex align-items-end py-16">
                        <span class="size-price font-color-negro">$ {{ item?.price.amount }}</span>
                        <span class="size-decimal font-color-negro">{{ item?.price.decimals }}</span>
                        <span class="px-1 mb-12" *ngIf="item?.freeShipping">
                          <img src="../../../assets/image/ic_shipping.png"/>
                        </span>
                    </div>
                    <div class="col py-16">
                      <h5 routerLink="/items/{{item?.id}}" class="cursor-pointer size-title">{{ item?.title }}</h5>
                    </div>
                </div>
                <div class="col-2">
                  <h3 class="font-city mt-5 font-color-negro">{{ item?.cityName }}</h3>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
